@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #1a1a1a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%231c1c1c' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%231c1c1c' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
  color: snow;
  height: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

/* digital clock */
.digital-clock {
  width: 100%;
  padding: 2rem 0 0 0;
  font-size: 2.2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.sydney {
  color: gray;
}

/* clock container */
.clockbox {
  max-width: 500px;
}

.clockbox,
#clock {
  width: 100%;
  position: relative;
}

/* clock styles */
.circle {
  fill: #333333;
  stroke: black;
  stroke-width: 15;
  stroke-miterlimit: 10;
}

.brand-a {
  fill: rgb(96, 96, 96);
}
.brand-b {
  fill: rgb(145, 145, 145);
}

.mid-circle-top {
  fill: silver;
}
.mid-circle {
  fill: #0a0a0a;
}

/* .hour-marks { */
line {
  fill: none;
  stroke: #757575;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

/* clock arms */
.hour-arm {
  fill: none;
  stroke: #0e0e0e;
  stroke-width: 14;
  stroke-miterlimit: 10;
}

.minute-arm {
  fill: none;
  stroke: #0e0e0e;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.second-arm {
  fill: none;
  stroke: silver;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.sizing-box {
  fill: none;
}

/* rotation & animation */
#hour,
#minute,
#second {
  transform-origin: 300px 300px;
  transition: transform 0.5s ease-in-out;
}

/* footer */
footer {
  width: 100%;
  background: rgba(255, 250, 250, 0.1);
  color: silver;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: dimgray;
  text-decoration: none;
  outline: none;
  transition: all 1s ease;
}

footer a:last-child {
  color: salmon;
}

footer a:hover {
  color: snow;
}

/* media queries */
@media screen and (max-width: 500px) {
  .digital-clock {
    width: 100%;
    padding: 2rem 0 0 0;
    font-size: 1.6rem;
  }
  footer {
    font-size: 1rem;
  }
}
